<html>

<head>
    <base href="/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" href="assets/style.css">
    <title>Welcome user</title>
</head>

<body>
    <div class="hero">
        <div class="container">
            <h1 class="text-center display-2">Welcome, {{user}}!</h1>
            Id: {{id}}
        </div>
    </div>
    </div>
</body>

</html>