.authForm {
    width: 50%;
    margin: 65px auto;
}

.link {
    margin: 10px auto;
    text-align: center;
}

@media (max-width: 400px) {
    .authForm {
        width: 100%;
        margin: 65px auto;
    }    
}

@media (max-width: 1024px) {
    .authForm {
        width: 50%;
        margin: 65px auto;
    }    
}