<html>
    <head>
        <meta charset="utf-8">
        <title>Homework № 6 App</title>
        <link rel="stylesheet" href="/assets/main.css" />
        <base href="/" />
    </head>
    <body>
        <header class="header">
            <nav class="main-menu">
                <a href="/" class="main-menu__item">Sign in</a>
                <a href="/join/" class="main-menu__item">Sign up</a>
            </nav>
        </header>
        <main class="main">
            <h1 class="title-center">{{title}}</h1>
            <form class="form" method="POST">
                <div class="form__row">
                    <label class="form__label" for="name">Username:</label>
                    <input type="text" class="form__input" id="username" name="username">
                </div>
                <div class="form__row">
                    <label class="form__label">Password:</label>
                    <input type="password" class="form__input" id="password" name="password">
                </div>
                <div class="form__row">
                    <input type="submit" class="form__submit" value="{{button}}">
                </div>
            </form>
            {{#if goToSignUpPage}}
                <div class="note">
                    New user? <a href="/join/" class="join-link">Create an account</a>
                </div>
            {{/if}}
        </main>
    </body>
</html>