<html lang="ru">
<head>
    <base href="/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
            <link rel="stylesheet" href="assets/style.css">
</head>
<body>
<div class="hero">
    <div class="container">
        <h1 class="text-center display-2">TodoList</h1>
        <p class="lead text-center">Welcome to my todoList applications</p>
        <div class="row">
            <form class="col-8 mx-auto" action="/add">
                <div class="input-group">
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                           placeholder="Enter task"><span><button type="submit"
                                                                  class="btn btn-primary">Submit</button></span>
                </div>

            </form>
        </div>
        <div class="row">
            <ul id="list" class="list col-lg-6 col-8 mx-auto">
                {{#each tasks}}
                    <li><a href="/task/{{id}}">Id: {{id}}</a> {{text}}<input type="checkbox" class="checkbox"></li>
                {{/each}}
            </ul>
        </div>
        <div class="row">
            <button id="btnClr" type="button" class="btn btn-primary mx-auto btnHide">Clear</button>
        </div>
    </div>
</div>

</body>
</html>